
/* interface image and name */

td.networkname
{
vertical-align:middle;
}

td.networkname img
{
max-height:22px;
margin:0 3px;
vertical-align:middle;
}


/* identification */

td.network_identstring
{
font-size:90%;
color:#444;
}
