/* disk image and name */

td.smart_diskname {
	vertical-align: middle;
}
td.smart_diskname img {
	max-height: 16px;
	margin: 0 4px;
	vertical-align: middle;
}
/* diskname */

td.smart_diskname {
	font-weight: bold;
}
/* status */

td.smart_status_healthy {
	color: #006400;
}
td.smart_status_inthepast {
	color: #0000ff;
}
td.smart_status_warning {
	color: #f40;
}
td.smart_status_failed {
	color: #ff0000;
}
td.smart_status_incapable {
	color: #808080;
}
/* temperature */

td.smart_temp_cool, td.smart_temp_warm, td.smart_temp_hot {
}
td.smart_temp_cool b {
}
td.smart_temp_warm b {
	color: #f40;
}
td.smart_temp_hot b {
	color: #f00;
}
td.smart_temp_nosensor {
	color: #808080;
}
td.smart_temp_nosensor span.smart_temp_deg {
	display: none;
	visibility: hidden;
}
span.smart_temp_deg {
}
span.smart_temp_bullet {
	color: #808080;
}
/* power cycles */

td.smart_powercycles_low {
}
td.smart_powercycles_high {
	color: #ff0000;
}
/* load cycles */

td.smart_loadcycles_low {
}
td.smart_loadcycles_high {
	color: #ff0000;
}
/* cable errors */

td.smart_cableerrors_none {
	color: #808080;
}
td.smart_cableerrors_low {
	font-weight: bold;
}
td.smart_cableerrors_high {
	color: #ff0000;
	font-weight: bold;
}
/* bad sectors */

td.smart_badsectors_none {
	color: #808080;
}
td.smart_badsectors_passive {
}
td.smart_badsectors_passive span.smart_badsectors_passive {
	color: #000000;
}
td.smart_badsectors_pending {
	color: #ff0000;
	font-weight: bold;
}
td.smart_badsectors_pending span.smart_badsectors_active {
	color: #ff0000;
	font-weight: bold;
}
td.smart_badsectors_incapable {
}
td.smart_badsectors_incapable span {
	display: none;
	visibility: hidden;
}
span.smart_badsectors_active {
	color: #808080;
}
span.smart_badsectors_passive {
	color: #808080;
}
/* lifetime */

td.smart_lifetime_normal {
}
td.smart_lifetime_old {
	color: #ff0000;
}
/* smart scan button box */

div.smartscanbuttonbox {
	background: #ddd;
	padding: 4px;
	text-align: center;
	border-top: 2px solid #666;
	border-bottom: 2px solid #666;
	margin-bottom: 10px;
}
div.smartscanbuttonbox input {
	color: #262;
	font-weight: bold;
}
/* query disk */

b.smqd {
	color: #444;
}
/* smart advice text box */

p.smartadvice_red {
	border: 2px solid #802;
	padding: 8px;
	color: #400;
	background: #edd;
	background-image: -moz-linear-gradient(#edd, #b99);
	background-image: -webkit-linear-gradient(#edd, #b99);
	background-image: -o-linear-gradient(#edd, #b99);
	background-image: -ms-linear-gradient(#edd, #b99);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eedddd', endColorstr='#bb9999');
	background-image: linear-gradient(#edd, #b99);
}
p.smartadvice_red span {
	color: #d02;
	font-weight: bold;
}
p.smartadvice_amber {
	border: 2px solid #880;
	padding: 8px;
	color: #420;
	background: #ed9;
	background-image: -moz-linear-gradient(#fea, #cb7);
	background-image: -webkit-linear-gradient(#fea, #cb7);
	background-image: -o-linear-gradient(#fea, #cb7);
	background-image: -ms-linear-gradient(#fea, #cb7);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeaa', endColorstr='#ccbb77');
	background-image: linear-gradient(#fea, #cb7);
}
p.smartadvice_amber span {
	color: #e20;
	font-weight: bold;
}
div.smartadvice_green {
	border: 2px solid #696;
	margin: 10px 0;
	padding: 8px;
	color: #020;
	background: #ded;
	background-image: -moz-linear-gradient(#efe, #bdb);
	background-image: -webkit-linear-gradient(#efe, #bdb);
	background-image: -o-linear-gradient(#efe, #bdb);
	background-image: -ms-linear-gradient(#efe, #bdb);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeffee', endColorstr='#bbddbb');
	background-image: linear-gradient(#efe, #bdb);
}
div.smartadvice_green img {
	margin-right: 8px;
}
