/* Widget: itemlist */

/* container of all share items */
div.widget_itemlist {
}
/* hyperlink that is an inline block container with images and text elements inside */
div.widget_itemlist a.widget_itemlist_item {
	display: inline-block;
	width: 120px;
	padding: 10px 4px;
	color: #000;
	background: #fff;
	border: 1px solid #eee;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin: 0 4px 0 auto;
}
div.widget_itemlist a.widget_itemlist_item:hover {
	background: #eee;
	border-color: #ddd;
}
/* images inside the item container hyperlink */
div.widget_itemlist a.widget_itemlist_item div.widget_itemlist_images {
	position: relative;
	width: 64px;
	height: 64px;
	margin: 0 auto 7px;
}
div.widget_itemlist a.widget_itemlist_item div.widget_itemlist_images img {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
}
div.widget_itemlist a.widget_itemlist_item:hover div.widget_itemlist_images img {
	opacity: 1.0;
}
/* text element inside container hyperlink */
div.widget_itemlist a.widget_itemlist_item span {
}
div.widget_itemlist a.widget_itemlist_item span.widget_itemlist_name {
	text-overflow: ellipsis;
	white-space: nowrap;
}
div.widget_itemlist a.widget_itemlist_item span.widget_itemlist_desc {
	color: #aaa;
	font-size: 75%;
}
/* images */
div.widget_itemlist a.widget_itemlist_item div.widget_itemlist_images img.widget_itemlist_default {
	opacity: 0.7;
}
div.widget_itemlist a.widget_itemlist_item div.widget_itemlist_images img.widget_itemlist_public {
	width: 16px;
	height: 16px;
	padding: 49px 24px 0 24px;
}
div.widget_itemlist a.widget_itemlist_item div.widget_itemlist_images img.widget_itemlist_protected {
	width: 16px;
	height: 16px;
	padding: 49px 24px 0 24px;
}
div.widget_itemlist a.widget_itemlist_item div.widget_itemlist_images img.widget_itemlist_private {
	width: 16px;
	height: 16px;
	padding: 49px 24px 0 24px;
}
div.widget_itemlist a.widget_itemlist_item div.widget_itemlist_images img.widget_itemlist_custom {
	width: 16px;
	height: 16px;
	padding: 49px 24px 0 24px;
}
div.widget_itemlist a.widget_itemlist_item div.widget_itemlist_images img.widget_itemlist_noaccess {
	width: 16px;
	height: 16px;
	padding: 49px 24px 0 24px;
}
div.widget_itemlist a.widget_itemlist_item div.widget_itemlist_images img.widget_itemlist_problem {
	width: 16px;
	height: 16px;
	padding: 49px 24px 0 24px;
}
div.widget_itemlist a.widget_itemlist_item div.widget_itemlist_images img.widget_itemlist_icon16 {
	width: 16px;
	height: 16px;
	padding: 49px 24px 0 24px;
}
div.widget_itemlist a.widget_itemlist_item div.widget_itemlist_images img.widget_itemlist_icon22 {
	width: 22px;
	height: 22px;
	padding: 21px 21px 29px 21px;
}
div.widget_itemlist a.widget_itemlist_item div.widget_itemlist_images img.widget_itemlist_icon24 {
	width: 24px;
	height: 24px;
	padding: 20px 20px 28px 20px;
}
div.widget_itemlist a.widget_itemlist_item div.widget_itemlist_images img.widget_itemlist_icon32 {
	width: 32px;
	height: 32px;
	padding: 16px 16px 24px 16px;
}
div.widget_itemlist a.widget_itemlist_item div.widget_itemlist_images img.widget_itemlist_icon48 {
	width: 48px;
	height: 48px;
	padding: 12px 12px 4px 4px;
}
/* delete button in top-right corner */
div.widget_itemlist a.widget_itemlist_item div.widget_itemlist_images img.widget_itemlist_delete {
	position: relative;
	visibility: hidden;
	top: -7px;
	width: 16px;
	height: 16px;
	margin: 0 0 0 74px;
	padding: 0 0 4px 4px;
	opacity: 0.1;
}
/* display delete button only when hovering over the item */
div.widget_itemlist a.widget_itemlist_item:hover div.widget_itemlist_images img.widget_itemlist_delete {
	visibility: visible;
}
div.widget_itemlist a.widget_itemlist_item div.widget_itemlist_images img.widget_itemlist_delete:hover {
	opacity: 0.3;
}
/* disabled effect */
div.widget_itemlist a.widget_itemlist_item div.widget_itemlist_item_disabled img.widget_itemlist_default {
	/* legacy tags */
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	/* IE6-9 */
	/* proper browser */
	filter: grayscale(100%);
}
