/* installation step */

a.installstep, a.installstep:visited {
	color: #666;
	text-decoration: none;
	font-size: 120%;
	font-weight: bold;
	display: block;
	clear: both;
	margin-bottom: 10px;
}
a.installstep:hover {
	text-decoration: underline;
}
a.activestep {
	color: #a22 !important;
}
/* display/hide obsolete system versions */

tr.obsolete_sysver {
	line-height: 85%;
}
tr.obsolete_sysver th {
	background: #444 !important;
}
tr.obsolete_sysver th a, tr.obsolete_sysver th a:visited {
	color: #eee !important;
	font-size: 85%;
	text-decoration: none;
}
tr.obsolete_sysver th a:hover {
	color: #fff;
	text-decoration: underline;
}
/* hintbox - NOT USED ANYMORE */

div.step2_hintbox {
	background: #ffe;
	border: 1px solid #ccc;
	padding: 5px 10px;
	margin: 15px 0;
}
