
/* migration spaces table */

table.migrationspaces tr td
{
width:33%;
text-align:center !important;
background:#999;
}

table.migrationspaces tr td a, table.migrationspaces tr td a:visited
{
display:block;
color:#444;
padding:10px;
}

table.migrationspaces tr td a:hover
{
text-decoration:none;
color:#eee;
background:#236;
background-image: -moz-linear-gradient(#ccc, #666);
background-image: -webkit-linear-gradient(#ccc, #666);
background-image: -o-linear-gradient(#ccc, #666);
background-image: -ms-linear-gradient(#ccc, #666);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#666666');
background-image: linear-gradient(#ccc, #666);
}

img.mig_selected
{
float:left;
border:0;
margin:5px 0 0 5px;
}

img.mig_selected_right
{
float:right;
border:0;
margin:5px 5px 0 0;
visibility:hidden;
}

a.mig_special
{
background:#236;
background-image: -moz-linear-gradient(#ecc, #d9d);
background-image: -webkit-linear-gradient(#ecc, #d9d);
background-image: -o-linear-gradient(#ecc, #d9d);
background-image: -ms-linear-gradient(#ecc, #d9d);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eecccc', endColorstr='#dd99dd');
background-image: linear-gradient(#ecc, #d9d);
}

a.mig_special b
{
color:#a0a;
}

a.mig_light
{
background:#edd;
background-image: -moz-linear-gradient(#ced, #6f9);
background-image: -webkit-linear-gradient(#ced, #6f9);
background-image: -o-linear-gradient(#ced, #6f9);
background-image: -ms-linear-gradient(#ced, #6f9);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cceedd', endColorstr='#66ff99');
background-image: linear-gradient(#ced, #6f9);
}

a.mig_light b
{
color:#0a2;
}

a.mig_heavy
{
background:#edd;
background-image: -moz-linear-gradient(#edd, #f99);
background-image: -webkit-linear-gradient(#edd, #f99);
background-image: -o-linear-gradient(#edd, #f99);
background-image: -ms-linear-gradient(#edd, #f99);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eedddd', endColorstr='#ff9999');
background-image: linear-gradient(#edd, #f99);
}

a.mig_heavy b
{
color:#f20;
}

a.mig_free
{
background:#236;
background-image: -moz-linear-gradient(#f1f1f1, #aaa);
background-image: -webkit-linear-gradient(#f1f1f1, #aaa);
background-image: -o-linear-gradient(#f1f1f1, #aaa);
background-image: -ms-linear-gradient(#f1f1f1, #aaa);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#aaaaaa');
background-image: linear-gradient(#f1f1f1, #aaa);
}

a.mig_free b
{
color:#666;
}

a.mig_zero b
{
color:#f00;
}


/* mig free page */

table.mig_createprofile
{
width:60%;
}

table.mig_createprofile textarea
{
width:100%;
height:100px;
}

table.mig_createprofile input
{
width:100%;
}

